*_NERV*
.idea/*
easydcp/example/S*
easydcp/tests/output/*
easydcp/tests/easypcc/*
*plot_out/*
*data_out*
__pycache__
*_agi.csv
*.ply
alex_*
*.backup.py
test_temp.py
easydcp/wheels/*
easydcp/docs/build/*
easydcp/example/csv*
easydcp/example/out*
*.png
!docs/*.png
*.jpg
easydcp/creation/dev
