*_NERV*
.idea/*
easypcp/example/S*
easypcp/tests/output/*
easypcp/tests/easypcc/*
easypcp/example/plot_out/*
__pycache__
*.ply
*.csv
alex_*
*.backup.py
test_temp.py
easypcp/wheels/*
easypcp/docs/build/
easypcp/example/csv*
easypcp/example/out*
