*_NERV*
.idea/*
easypcp/example/S*
easypcp/tests/output/*
easypcp/tests/easypcc/*
*plot_out/*
__pycache__
*_agi.csv
*.ply
alex_*
*.backup.py
test_temp.py
easypcp/wheels/*
easypcp/docs/build/*
easypcp/example/csv*
easypcp/example/out*
*.png
*.jpg
easypcp/creation/dev
